.social-menu{

}

.social-menu-item{

}

.social-menu-link{

}

.logo-vkontakte{

}

.logo-telegramm{

}

.logo-yuotube{

}

.telephone-number{
    font-family: "PT Sans", sans-serif;
font-weight: 400;
font-size: 40px;
line-height: 40px;
color: #000000;
}

.logo-html-academy{

}